# Build artifacts
**/build/
**/bin/
**/gen/
**/out/
.gradle/
.navigation/
.externalNativeBuild/
.cxx/
captures/

# IDE files
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
.DS_Store
Thumbs.db

# Android Specific
local.properties
*.apk
*.ap_
*.dex
*.class

# Keystore / Secrets
*.jks
*.keystore
keystore.properties
*.base64.txt

# Artifacts & Documentation
.artifacts/
release-notes.txt

# Log files
*.log

# Gradle
.gradle
gradle-app.setting
!gradle-wrapper.jar
